{% extends "base/base.html" %}
{% load static %}
{% block css %}

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="{% static "css/slide.css" %}">
	<link rel="stylesheet" href="{% static "css/category.css" %}">
	<link rel="stylesheet" href="{% static "css/product.css" %}">
	<link rel="stylesheet" href="{% static "css/filter.css" %}">
{% endblock %}

{% block title %}
	Mua bán thả ga - Hết tiền không la
{% endblock %}

{% block body %}
	{% include "base/slide.html" %}
	{% include "base/category.html" %}
	{% include "base/product.html" %}
	{% include "base/footer.html" %}
{% endblock %}

{% block js %}
	<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="{% static "js/slide.js" %}"></script>
	<script src="static/js/updateProducts.js" ></script>
	<script>
		$(document).ready(function () {
			loadAjax();
		})
	</script>
	<script>
		$(".filter__select").change(function () {
			loadAjax();
		})
	</script>
{% endblock %}